# test related
coverage.html
testing
testapp

# OSX
.DS_Store

# npm
node_modules
npm-debug.log

# IDE
.idea/
*~
*.swp

# Local runtime data
log

# Things
README.html
*.tgz

public/attachments/*
public/images/*
!public/attachments/.gitkeep
!public/images/.gitkeep
!uploads/.gitkeep
uploads
.tern-port
