extends layout

block content
    h1 Change history
    div.versionsDesc Shows the recent 100 page changes. Deleted pages are hidden.
    ul
        each page in pages
            li
                a(href="/versions/#{page.refId}")= page.title