a {
    color: #bb0000;
}

.container a {
    color: #bb0000 !important;
}

.container h3 {
    margin-bottom: -0px;
}

.container a.btn, .container a.btn-primary {
    color: #ffffff !important;
}

.container .btn-group  a.btn, .container .btn-group a.btn-primary {
    color: #000 !important;
}

.tags {
    margin: 1em 0;
    color: darkgreen;
}
.tags h2 {
    font-size: 14px;
    display:inline-block;
    margin-right: 1em;
}
.tags div {
    display: inline-block;
}
.drop-here {
    border: 5px dashed #ccc;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 25px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
}
.drop-here.active {
    border-color: #aaa;
    color: #aaa;
}
.messages {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -25%;
    width: 50%;
}
.plain-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.plain-list li {
    position:relative;
    display:block;
    padding-right: 16px;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden;
}
.plain-list i {
    margin: 0 .2em;
}
.plain-list .icon-remove-sign{
    position: absolute;
    top: 2px;
    right: 2px;
    opacity:.3;
}
.plain-list .icon-remove-sign:hover{
    opacity: 1;
}

.content:before{
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    font-size:9px;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.modified-by{
    color:#ccc;
    text-align:right;
}

.modified-by strong {
    padding-left: 5px;
    color: #666;
}

.preview{
    list-style: none;
    display:none;
    text-align: center;
    padding:10px;
    float:left;
    width:130px;
    height:150px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.preview:hover{
    background-color:#EDEDED;
}
.preview img{
    max-height:100px;
    max-width:100px;
}

#site-breadcrumb {
    margin-top: 25px;
    padding: 3px 8px;
    margin-bottom: 10px;
}

#attachments {
    margin-top: 15px;
    margin-bottom: 20px;
}

#attachments li {
    line-height: 22px;
}

#content {
    cursor: text !important;
}

a.icon-remove-sign {
    cursor: pointer !important;
}

.imagesDesc {
    padding-bottom: 10px;
}

#images li {
    line-height: 22px;
}

.versionsDesc {
    padding-bottom: 10px;
}

.editable, #content, .tags, .title {
    padding-left: 10px;
}

.navigationTitle {
    padding-top: 6px;
    padding-bottom: 10px;
}

.imagesTitle {
    margin-bottom: 5px !important;
}

.attachmentsTitle {
    margin-bottom: -10px !important;
}

.versionsTitle {
    margin-bottom: 2px !important;
}

h1.title {
    padding-top: 10px;
}

*[contenteditable="true"] {
    margin-bottom: 10px;
}

/**
 *	CKEditor editables are automatically set with the "cke_editable" class
 *	plus cke_editable_(inline|themed) depending on the editor type.
 */

/* Style a bit the inline editables. */
.cke_editable.cke_editable_inline
{
	cursor: text;
}

/* Once an editable element gets focused, the "cke_focus" class is
   added to it, so we can style it differently. */
.cke_editable.cke_editable_inline.cke_focus
{
	box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
	outline: none;
	background: #eee;
	cursor: text;
}

.cke_editable.cke_editable_inline.cke_focus[contentEditable=false]
{
	box-shadow: none !important;
	outline: inherit !important;
	background: none !important;
	cursor: default !important;
}

/* Avoid pre-formatted overflows inline editable. */
.cke_editable_inline pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.noEdit {
    display: none;
}

button.editButton {
    display: none;
    margin-right: 15px;
}

.editButton.active span {
    font-weight: bold !important;
}

.editButtonText {
    padding-left: 8px;
}

.editButtonText :hover {
    font-weight: bold !important;
}

.nav-list li {
    list-style: square;
}

#staticNavigation li {
    line-height: 24px;
}

#staticNavigation li > a {
    text-decoration: none;
}

#staticNavigation li > a:hover {
    font-weight: bold !important;
}

.staticNavigation ul > li {
    list-style: square;
}

.staticNavigation ul > li > ul li {
    list-style: disc;
}

.staticNavigation a.active {
    font-weight: bold !important;
}

.breadcrumb a.active {
    font-weight: bold !important;
}

.nav-list > li > a:hover {
    background-color: transparent !important;
    font-weight: bold !important;
}

.structuringMenu li a i {
    margin-right: 5px;
}